h1 {
    color: white;
    font-family: 'Roboto';
    text-align: center;
    background-color: black;
    font-size: 40px;
}

header {
    border: solid lightgrey;
}

article {
    border: solid white;
}

footer {
    border: solid white;
}

.signature {
    padding-top: 20px;
    /* border: solid 1px blue; */
    background: corn
}

.activity3 {
    display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}

.activity5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.imgAssignment {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 600px;
   height: 250px;
   padding-bottom: 20px;
}